/* Body and text */
body {
    background-color: white;
    font-family: Georgia, serif;
}

.section-black {
    background-color: black !important;
}

.section-padding {
    padding-left: 15px !important;
    padding-right: 15px !important;
}

h1 {
    text-align: center;
    font-size: 45px;
    color: black !important;
}

.white-text {
    text-align: center !important;
    color: white !important;
}

h1 a {
    color: black !important;
}

h1 a:hover {
    color: #585858 !important;
}

.privacy-h1 {
    text-align: left !important;
    font-weight: bold !important;
}

h2 {
    color: black !important;
    text-align: center !important;
}

.privacy-h2 {
    text-align: justify !important;
}

h3 {
    font-size: 16px !important;
    text-align: center !important;
}

.privacy-h3 {
    font-size: 24px !important;
    color: black !important;
    font-weight: bold !important;
    text-align: left !important;
}

.privacy-h4 {
    font-size: 26px !important;
    color: black !important;
    font-weight: bold !important;
}

p {
    text-align: center;
    color: white;
    font-size: 20px;
}

p a {
    color: #333333 !important;
    font-size: 18px;
}

a.mylink {
    color: #333333;
}

a.bluelink {
    color: #113c8a;
}

.link {
    color: black !important;
}

ul li {
    margin-left: 10px !important;
}

.center {
    display: flex;
    justify-content: center !important;
}

.break-url {
    overflow-wrap: break-word !important;
    word-wrap: break-word !important;
    -ms-word-break: break-all !important;
    word-break: break-all !important;
    word-break: break-word !important;
}

/* Buttons */
.learn-more-button {
    background-color: #8d361e !important;
    color: white !important;
}

.is-blue {
    background-color: #113c8a !important;
    color: white !important;
}

.is-brick {
    background-color: #8d361e !important;
    color: white !important;
}

.info-button {
    background-color: #113c8a !important;
    color: white !important;
}

.info-button:hover {
    color: black !important;
    background-color: white !important;
    /* border-color: #113c8a !important; */
}

.info-button-green {
    background-color: #118a31 !important;
    color: white !important;
}

.info-button-green:hover {
    color: black !important;
    background-color: white !important;
}

.info-button-brick {
    background-color: #8d361e !important;
    color: white !important;
}

.info-button-brick:hover {
    color: black !important;
    background-color: white !important;
}

button {
    padding: 10px 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    background-color: #655e5d;
    color: white;
    cursor: pointer;
    font-family: Georgia, serif;
    font-size: 20px;
}

/* Form elements */
label {
    color: black !important;
}

.form-inline {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.form-inline label {
    display: block;
    text-align: center;
    color: black;
    font-size: 20px;
    margin: 5px 10px 5px 0;
    font-family: Georgia, serif;
}

.form-inline input {
    font-size: 20px;
    vertical-align: middle;
    margin: 5px 10px 5px 0;
    font-family: Georgia, serif;
}

@media (max-width: 800px) {
    .form-inline input {
        margin: 10px 0;
    }

    .form-inline {
        flex-direction: column;
        align-items: stretch;
    }
}

/* Images */
.home-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
}

.image-home {
    display: block;
    max-width: 100%;
    height: auto;
    margin-left: auto;
}

picture {
    margin-top: 3px !important;
}

/* Card elements */
.card-header {
    background-color: #113c8a !important;
}

.card-header-green {
    background-color: #118a31 !important;
}

.card-header-brick {
    background-color: #8d361e !important;
}

.card-header-dark {
    background-color: #363636 !important;
}

.card-header-title {
    color: white !important;
}

.card-footer-button {
    background-color: #113c8a !important;
    color: white !important;
    font-weight: bold !important;
}

.card-footer-button-green {
    background-color: #118a31 !important;
    color: white !important;
    font-weight: bold !important;
}

.card-footer-img {
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
    max-width: 100% !important;
    height: auto !important;
}

.card-background-black {
    background-color: black !important;
    color: white;
}

/* Footer */
.myfooter {
    background-color: #363636;
    padding: 3rem 1.5rem 2.8rem;
}

.myfooter-fixed {
    background-color: #363636;
    position: fixed;
    left: 0;
    bottom: 0px;
    right: 0;
    padding: 3rem 1.5rem 2.8rem;
}
.footer-h3 {
    color: white !important;
    text-align: center !important;
    font-size: 26px !important;
}

.footer-p {
    text-align: center;
    color: #dcdada;
    font-size: 18px;
}

.footer-a {
    color: #dcdada !important;
    font-size: 18px;
}

/* Social icons */
.facebook {
    color: #dcdada !important;
}
.facebook:hover {
    color: #dcdada !important;
}