/* Body and text */
body {
    background-color: white;
    font-family: Georgia, serif;
}

.section-black {
    background-color: black !important;
}

.section-padding {
    padding-left: 15px !important;
    padding-right: 15px !important;
}

h1 {
    text-align: center;
    font-size: 45px;
    color: black !important;
}

.white-text {
    text-align: center !important;
    color: white !important;
}

h1 a {
    color: black !important;
}

h1 a:hover {
    color: #585858 !important;
}

.privacy-h1 {
    text-align: left !important;
    font-weight: bold !important;
}

.h2-price {
    margin-bottom: 5px !important;
    margin-top: 5px !important;
}

.h2-price:last-of-type {
    margin-bottom: 30px !important;
}

h2 {
    color: black !important;
    text-align: center !important;
}

h2 b a {
    color: black;
}

.privacy-h2 {
    text-align: justify !important;
}

h3 {
    font-size: 16px !important;
    text-align: center !important;
}

.h3-price {
    font-size: 19px !important;
    text-align: center !important;
}

.privacy-h3 {
    font-size: 24px !important;
    color: black !important;
    font-weight: bold !important;
    text-align: left !important;
}

.privacy-h4 {
    font-size: 26px !important;
    color: black !important;
    font-weight: bold !important;
}

p {
    text-align: center;
    color: white;
    font-size: 20px;
}

p a {
    color: #333333 !important;
    font-size: 18px;
}

a.mylink {
    color: #333333;
}

a.bluelink {
    color: #113c8a;
}

.link {
    color: black !important;
}

ul li {
    margin-left: 10px !important;
}

.center {
    display: flex;
    justify-content: center !important;
}

.break-url {
    overflow-wrap: break-word !important;
    word-wrap: break-word !important;
    -ms-word-break: break-all !important;
    word-break: break-all !important;
    word-break: break-word !important;
}

/* Buttons */
.learn-more-button {
    background-color: #8d361e !important;
    color: white !important;
}

.calendly-button {
    background-color: #113c8a !important;
    color: white !important;
}

.calendly-button:hover {
    color: black !important;
    background-color: white !important;
}

.is-blue {
    background-color: #113c8a !important;
    color: white !important;
}

.is-brick {
    background-color: #8d361e !important;
    color: white !important;
}

.info-button-blue {
    background-color: #113c8a !important;
    color: white !important;
}

.info-button-blue:hover {
    color: black !important;
    background-color: white !important;
    /* border-color: #113c8a !important; */
}

.info-button-brick {
    background-color: #8d361e !important;
    color: white !important;
}

.info-button-brick:hover {
    color: black !important;
    background-color: white !important;
    /* border-color: #113c8a !important; */
}

button {
    padding: 10px 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    background-color: #655e5d;
    color: white;
    cursor: pointer;
    font-family: Georgia, serif;
    font-size: 20px;
}

/* Form elements */
label {
    color: black !important;
}

/* Images */
.home-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
}

.image-home {
    display: block;
    max-width: 100%;
    height: auto;
    margin-left: auto;
}

picture {
    margin-top: 3px !important;
}

.border {
    border: 1px solid black !important;
}

/* Card elements */
.card-header {
    background-color: #113c8a !important;
}

.card-header-green {
    background-color: #118a31 !important;
}

.card-header-brick {
    background-color: #8d361e !important;
}

.card-header-dark {
    background-color: #363636 !important;
}

.card-header-title {
    color: white !important;
}

.card-footer-button {
    background-color: #113c8a !important;
    color: white !important;
    font-weight: bold !important;
}

.card-footer-button-green {
    background-color: #118a31 !important;
    color: white !important;
    font-weight: bold !important;
}

.card-footer-img {
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
    max-width: 100% !important;
    height: auto !important;
}

.card-background-black {
    background-color: black !important;
    color: white;
}

/* Footer */
.myfooter {
    background-color: #363636;
    padding: 3rem 1.5rem 2.8rem;
}

.myfooter-fixed {
    background-color: #363636;
    position: fixed;
    left: 0;
    bottom: 0px;
    right: 0;
    padding: 3rem 1.5rem 2.8rem;
}
.footer-h3 {
    color: white !important;
    text-align: center !important;
    font-size: 26px !important;
}

.footer-p {
    text-align: center;
    color: #dcdada;
    font-size: 18px;
}

.footer-a {
    color: #dcdada !important;
    font-size: 18px;
}

/* Social icons */
.facebook {
    color: #dcdada !important;
}
.facebook:hover {
    color: #dcdada !important;
}

/* Testimonial carousel */
.source {
    margin-top: 10px;
    font-weight: bold;
    text-align: left;
}

/* (A) OUTER CONTAINER */
.hwrap {
    /* COSMETICS */
    overflow: hidden;
}

/* (B) MIDDLE CONTAINER - FLEX LAYOUT */
.hmove {
    display: flex;
    position: relative;
    top: 0;
    right: 0;
}

/* (C) SLIDES - FORCE INTO ONE LONG HORIZONTAL ROW */
.hslide {
    width: 100%;
    flex-shrink: 0;
    box-sizing: border-box;
    text-align: justify;
    padding: 10px;
}

/* (D) SLIDE ANIMATION */
@keyframes slideh {
    /* (D0) THE IDEA - USE KEYFRAMES TO SHIFT SLIDES *
    0% { right: 0; }
    33% { right: 100%; }
    66% { right: 200%; }
    100% { right: 0; }
   
    /* (D1) BUT THE ABOVE WILL SHIFT NON-STOP */
    /* SO WE ADD PAUSES BETWEEN EACH SLIDE */
    0% {
        right: 0;
    }
    30% {
        right: 0;
    }
    33% {
        right: 100%;
    }
    63% {
        right: 100%;
    }
    66% {
        right: 200%;
    }
    97% {
        right: 200%;
    }
    100% {
        right: 0;
    }
}

.hmove {
    animation: slideh linear 30s infinite;
}

.hmove:hover {
    animation-play-state: paused;
}

@media (max-width: 800px) {
    .hwrap,
    .hslide {
        height: auto;
    }
}
